
/* general style */


* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* shared  style  */
.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.section-heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}



/* heder section  */
header {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

header nav {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

header h3 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}


header h3 span {
    color: #dd0719;
}

header ul {

    gap: 32px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: #FFFFFF;
}

.btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 16px;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.btn:hover {
    transform: scale(1.05);
    background-image: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F);
    transition: .5s;
}


header nav .bar {
    display: none;
}


/* hero section */


.hero-section {
    
    background-image: url(images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero-container {
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    padding: 101px 0px;
}

.hero-circle {
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.hero-circle img {
    max-width: 350px;
    width: 100%;

}

.microphone {
    position: absolute;
}

.microphone img {
    width: 100%;
}

.challenge-btn {
    position: absolute;
    z-index: 10;
    margin-top: -200px;
    margin-left: 270px;
    padding: 10px 30px;
    color: #1A0B2E;
    font-weight: 700;
    background-color: #00FF88;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 600;

}

.hero-content {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

.hero-content h3 {
    font-size: 3.8rem;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.hero-content p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}

.hero-content .btn-2 {
    padding: 12px 20px;
    border: 1px solid #00FF88;
    color: #00FF88;
    border-radius: 50px;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 8px;

}

.hero-content .btn-2:hover {
    transform: rotate(20deg) scale(1.1);
    transition: 1s;

}



/* about section */

.about-section {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0px 120px;
}

.about-container .about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-content p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 70px;
    line-height: 20px;
}

.about-content hr {
    border: 1px solid #ffffff2d;
    margin-bottom: 70px;
}

.about-rating-container {
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    justify-items: center;
}

.about-rating-container .about-rating-part {
    text-align: center;
}

.about-rating-part h3 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 1rem;
}

.about-rating-part p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
}


/* techwev section */

.choose-techwave-section {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;

}

.TechWave-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0px;
}

.techwave-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.techwave-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.content {

background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}
    
   
      /* animation  */

    opacity: 0;
    transform: translateY(40px);
    animation: slideUp 1s ease forwards;
}

  /* delay */

    .content:nth-child(1) {animation-delay: 0.1s;}
    .content:nth-child(2) {animation-delay: 0.2s;}
    .content:nth-child(3) {animation-delay: 0.3s;}
    .content:nth-child(4) {animation-delay: 0.4s;}
    .content:nth-child(5) {animation-delay: 0.5s;}
    @keyframes slideUp{
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
.content h3{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 16px 0px;
    color: #FFFFFF;
}
.content p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;
    color: #FFFFFF;
}
.content-padding {
    padding: 40px;
}

.content-1 {
    grid-row: span 2;
}

.content-2 {
    grid-column: span 2;
}

.content-3 {
    grid-column: span 2;
}

.content-4 {
    grid-column: span 2;
}

.content-5 {
    grid-column: span 1;
}

